<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://unpkg.com/redux@4.0.5/dist/redux.js"></script>
</head>

<body>
	<button id="increment">+</button>
	<span id="counter">0</span>
	<button id="decrement">-</button>

	<script>
		// 1. 创建一个 reducer
		/* 
			作用：根据不同的action，来更新state
			参数：state：当前的状态,管理数据的初始状态
				  action：动作对象，包含type属性
		*/
		function reducer(state = { count: 0 }, action) {
			// 数据不可变：基于原始状态生成一个新的状态
			switch (action.type) {
				case 'INCREMENT':
					return { count: state.count + 1 }
				case 'DECREMENT':
					return { count: state.count - 1 }
				default:
					return state
			}
		}
		// 2. 创建 store
		const store = Redux.createStore(reducer)
		// 3. 通过store的subscribe方法监听数据变化
		store.subscribe(() => {
			document.getElementById('counter').textContent = store.getState().count
		})
		// 4. 通过store的dispatch方法派发action
		const addBtn = document.getElementById('increment')
		addBtn.addEventListener('click', () => {
			store.dispatch({ type: 'INCREMENT' })
		})
		const delBtn = document.getElementById('decrement')
		delBtn.addEventListener('click', () => {
			store.dispatch({ type: 'DECREMENT' })
		})
	</script>
</body>

</html>
